{% extends 'base.html.twig' %}

{% block title %}Simple HTML form{% endblock %}

{% block body %}

    <h1>Simple Form</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}
